In [2]:
import numpy as np
import pandas as pd

In [12]:
x = np.random.rand(5,9,3)
pn = pd.Panel(x)
pn

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 9 (major_axis) x 3 (minor_axis)
Items axis: 0 to 4
Major_axis axis: 0 to 8
Minor_axis axis: 0 to 2

In [31]:
data = {'item1':pd.DataFrame({'a':pd.Series(np.random.rand(2)),'b':pd.Series(np.random.rand(5))}),'item2':pd.DataFrame({'a':pd.Series(np.random.rand(2)),'b':pd.Series(np.random.rand(5))})}
pn1 = pd.Panel(data)

#pn1.minor_xs('a')
#pn1.major_xs()
#help(pn1.minor_xs)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [36]:
pn1.ndim
pn1.size
pn1.values

array([[[0.31186532, 0.24477944],
        [0.99160913, 0.35629292],
        [       nan, 0.43245268],
        [       nan, 0.72565384],
        [       nan, 0.57660177]],

       [[0.73754587, 0.89051698],
        [0.77596951, 0.36694   ],
        [       nan, 0.76301324],
        [       nan, 0.08216627],
        [       nan, 0.41654075]]])

In [39]:
pn1.axes

[Index(['item1', 'item2'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1),
 Index(['a', 'b'], dtype='object')]

In [42]:
pn1.empty

False

In [44]:
pn1.size

20

In [46]:
pn1.shape

(2, 5, 2)

In [48]:
pn1.values

array([[[0.31186532, 0.24477944],
        [0.99160913, 0.35629292],
        [       nan, 0.43245268],
        [       nan, 0.72565384],
        [       nan, 0.57660177]],

       [[0.73754587, 0.89051698],
        [0.77596951, 0.36694   ],
        [       nan, 0.76301324],
        [       nan, 0.08216627],
        [       nan, 0.41654075]]])

In [51]:
pn1.dtypes

item1    float64
item2    float64
dtype: object

In [53]:
pn1.sum(1)

      item1     item2
a  1.303474  1.513515
b  2.335781  2.519177

In [54]:
pn1.describe()

NotImplementedError: describe is not implemented on Panel objects.