In [3]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame(np.arange(30).reshape(15,2),columns=['X','Y'])
df

     X   Y
0    0   1
1    2   3
2    4   5
3    6   7
4    8   9
5   10  11
6   12  13
7   14  15
8   16  17
9   18  19
10  20  21
11  22  23
12  24  25
13  26  27
14  28  29

In [36]:
print('sum-',df.sum())
print('mean-',df.mean())
print('axis - ',df.sum(1))
print('std-',df.std())
print('median-',df.median())
print('product-',df.prod())
print('minimum-',df.min())
print('maximum-',df.max())

sum- X    210
Y    225
dtype: int64
mean- X    14.0
Y    15.0
dtype: float64
axis -  0      1
1      5
2      9
3     13
4     17
5     21
6     25
7     29
8     33
9     37
10    41
11    45
12    49
13    53
14    57
dtype: int64
std- X    8.944272
Y    8.944272
dtype: float64
median- X    14.0
Y    15.0
dtype: float64
product- X             0
Y   -1470487873
dtype: int32
minimum- X    0
Y    1
dtype: int32
maximum- X    28
Y    29
dtype: int32

In [39]:
print('Cumilative sum--',df.cumsum())
print('Cumilative product--',df.cumprod())
print(df)

Cumilative sum--       X    Y
0     0    1
1     2    4
2     6    9
3    12   16
4    20   25
5    30   36
6    42   49
7    56   64
8    72   81
9    90  100
10  110  121
11  132  144
12  156  169
13  182  196
14  210  225
Cumilative product--     X           Y
0   0           1
1   0           3
2   0          15
3   0         105
4   0         945
5   0       10395
6   0      135135
7   0     2027025
8   0    34459425
9   0   654729075
10  0   864408687
11  0 -1593436679
12  0 -1181211311
13  0 -1827934325
14  0 -1470487873
     X   Y
0    0   1
1    2   3
2    4   5
3    6   7
4    8   9
5   10  11
6   12  13
7   14  15
8   16  17
9   18  19
10  20  21
11  22  23
12  24  25
13  26  27
14  28  29

In [47]:
print(df.describe)
print(df.describe(include=['number']))

<bound method NDFrame.describe of      X   Y
0    0   1
1    2   3
2    4   5
3    6   7
4    8   9
5   10  11
6   12  13
7   14  15
8   16  17
9   18  19
10  20  21
11  22  23
12  24  25
13  26  27
14  28  29>
               X          Y
count  15.000000  15.000000
mean   14.000000  15.000000
std     8.944272   8.944272
min     0.000000   1.000000
25%     7.000000   8.000000
50%    14.000000  15.000000
75%    21.000000  22.000000
max    28.000000  29.000000

In [59]:
edf = pd.DataFrame(np.random.randn(5,3),columns = ['col1','col2','cpl3'])
print(edf)
def adder(e1,e2):
    return e1+e2
print(edf.pipe(adder,2))
print(edf.apply(np.mean))

       col1      col2      cpl3
0 -0.549219  0.429633 -0.613391
1 -0.924731  0.430571 -0.268226
2 -0.571104  2.047722 -0.512492
3  0.590406 -1.118691 -0.893112
4  0.456452 -1.591280 -1.315457
       col1      col2      cpl3
0  1.450781  2.429633  1.386609
1  1.075269  2.430571  1.731774
2  1.428896  4.047722  1.487508
3  2.590406  0.881309  1.106888
4  2.456452  0.408720  0.684543
col1   -0.199639
col2    0.039591
cpl3   -0.720536
dtype: float64

In [60]:
#Reindexing the pandas dataframe

In [115]:
un_df = pd.DataFrame(np.arange(4).reshape(2,2),index = [5,10])
print(un_df)
x = [5,10]
un_df.reindex(x)

    0  1
5   0  1
10  2  3

    0  1
5   0  1
10  2  3

In [120]:
un_df=un_df.rename(columns = {0:'A',1:'B'},index = {5:'Z',10:'Y'})
print(un_df)

   A  B
Z  0  1
Y  2  3

In [126]:
# Example for iteritems

dfit = pd.DataFrame(np.arange(30).reshape(15,2),columns = ['col1','col2'])
for key,value in dfit.iteritems():
    print(key,value)

col1 0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
Name: col1, dtype: int32
col2 0      1
1      3
2      5
3      7
4      9
5     11
6     13
7     15
8     17
9     19
10    21
11    23
12    25
13    27
14    29
Name: col2, dtype: int32

In [128]:
for row_index,row in dfit.iterrows():
    print(row_index,row)

0 col1    0
col2    1
Name: 0, dtype: int32
1 col1    2
col2    3
Name: 1, dtype: int32
2 col1    4
col2    5
Name: 2, dtype: int32
3 col1    6
col2    7
Name: 3, dtype: int32
4 col1    8
col2    9
Name: 4, dtype: int32
5 col1    10
col2    11
Name: 5, dtype: int32
6 col1    12
col2    13
Name: 6, dtype: int32
7 col1    14
col2    15
Name: 7, dtype: int32
8 col1    16
col2    17
Name: 8, dtype: int32
9 col1    18
col2    19
Name: 9, dtype: int32
10 col1    20
col2    21
Name: 10, dtype: int32
11 col1    22
col2    23
Name: 11, dtype: int32
12 col1    24
col2    25
Name: 12, dtype: int32
13 col1    26
col2    27
Name: 13, dtype: int32
14 col1    28
col2    29
Name: 14, dtype: int32

In [130]:
for row in dfit.itertuples():
    print(row)

Pandas(Index=0, col1=0, col2=1)
Pandas(Index=1, col1=2, col2=3)
Pandas(Index=2, col1=4, col2=5)
Pandas(Index=3, col1=6, col2=7)
Pandas(Index=4, col1=8, col2=9)
Pandas(Index=5, col1=10, col2=11)
Pandas(Index=6, col1=12, col2=13)
Pandas(Index=7, col1=14, col2=15)
Pandas(Index=8, col1=16, col2=17)
Pandas(Index=9, col1=18, col2=19)
Pandas(Index=10, col1=20, col2=21)
Pandas(Index=11, col1=22, col2=23)
Pandas(Index=12, col1=24, col2=25)
Pandas(Index=13, col1=26, col2=27)
Pandas(Index=14, col1=28, col2=29)

In [140]:
# Sortings  in data Frame
unsorted_df = pd.DataFrame(np.arange(30).reshape(15,2),columns=['X','Y'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(ascending=False)
sorted_df = unsorted_df.sort_values(by='X',ascending=False)
print(sorted_df)

     X   Y
0    0   1
1    2   3
2    4   5
3    6   7
4    8   9
5   10  11
6   12  13
7   14  15
8   16  17
9   18  19
10  20  21
11  22  23
12  24  25
13  26  27
14  28  29
     X   Y
14  28  29
13  26  27
12  24  25
11  22  23
10  20  21
9   18  19
8   16  17
7   14  15
6   12  13
5   10  11
4    8   9
3    6   7
2    4   5
1    2   3
0    0   1

In [150]:
 #Pandas Functions
df = pd.DataFrame([['abc','bca'],['a','b']],columns=['a','b'])
print(df)

df = df['b'].str.upper()
df

     a    b
0  abc  bca
1    a    b

0    BCA
1      B
Name: b, dtype: object

#### indexing
pix = pd.DataFrame(np.arange(30).reshape(15,2),columns=['A','B'])
print(pix.loc[:,['A']]) # for only colimns
print(pix.loc[[0,1,2,3,10],['A']])
print(pix.iloc[1:7,:])